**Read the items present**

In [47]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [48]:
records

{'101': {'name': 'Rice', 'pr': 100, 'qn': 34},
 '102': {'name': 'sugar', 'pr': 40, 'qn': 100},
 '103': {'name': 'Wheat', 'pr': 44, 'qn': 50},
 '104': {'name': 'tea powder', 'pr': 56, 'qn': 100},
 '105': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '106': {'name': 'Photo frame', 'pr': 500, 'qn': 10},
 '107': {'name': 'eraser', 'pr': 5, 'qn': 100},
 '108': {'name': 'Cooker', 'pr': 599, 'qn': 25},
 '109': {'name': 'umbrella', 'pr': 30, 'qn': 60},
 '110': {'name': 'Book', 'pr': 20, 'qn': 200},
 '111': {'name': 'pencil', 'pr': 3, 'qn': 50},
 '112': {'name': 'chocolate', 'pr': 5, 'qn': 1000},
 '113': {'name': 'A4 sheets', 'pr': 5, 'qn': 100},
 '114': {'name': 'Cornflakes', 'pr': 40, 'qn': 50},
 '115': {'name': 'coffee powder', 'pr': 40, 'qn': 100},
 '116': {'name': 'Pen pencil', 'pr': 30, 'qn': 50},
 '117': {'name': 'soap', 'pr': 15, 'qn': 100},
 '118': {'name': 'shampoo', 'pr': 59, 'qn': 100},
 '119': {'name': 'Cookie', 'pr': 60, 'qn': 25},
 '120': {'name': 'Biscuits', 'pr': 30, 'qn': 80},
 '121': {'name': 'Rubber bands', 'pr': 10, 'qn': 200},
 '122': {'name': 'Ruler', 'pr': 5, 'qn': 50},
 '123': {'name': 'Ketchup', 'pr': 30, 'qn': 85},
 '124': {'name': 'Face wash', 'pr': 108, 'qn': 20},
 '125': {'name': 'face cream', 'pr': 90, 'qn': 40},
 '126': {'name': 'chips', 'pr': 30, 'qn': 120},
 '127': {'name': 'razor', 'pr': 60, 'qn': 150},
 '128': {'name': 'Noodles', 'pr': 50, 'qn': 60},
 '129': {'name': 'bed sheets', 'pr': 299, 'qn': 30},
 '130': {'name': 'helmets', 'pr': 1999, 'qn': 20},
 '131': {'name': 'badminton raquets', 'pr': 599, 'qn': 10},
 '132': {'name': 'shuttle', 'pr': 100, 'qn': 60},
 '133': {'name': 'oils', 'pr': 110, 'qn': 25},
 '134': {'name': 'pickle', 'pr': 40, 'qn': 60},
 '135': {'name': 'face powder', 'pr': 55, 'qn': 20},
 '336': {'name': 'cheese', 'pr': 30, 'qn': 50}}

**Billing of items**

In [49]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))

print("***********************")
print("Product Id: ",ui_prod)
print("Product: ", records[ui_prod]['name'])
print("Price: ", records[ui_prod]['pr'])
print("Quantity selected:",ui_quant)
print("---------------------------------")
print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)
print("***********************")

records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the product_Id: 132
Enter the quantity: 2
***********************
Product Id:  132
Product:  shuttle
Price:  100
Quantity selected: 2
---------------------------------
Billing Amount:  200
***********************

**Update the existing inventory**

In [64]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

**creating sales JSON file**

In [66]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}}

In [67]:
sale = json.dumps(s)

In [68]:
sales[(len(sales)+1)]={'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

**generating sales JSON file**

In [69]:
sale = json.dumps(sales)

In [70]:
fd=open("sales.json","w")
s=fd.write(sale)
fd.close()